@font-face {
  font-family: "SF Pro";
  src: url("../fonts/sf-pro/sf-pro-regular.OTF");
}

@font-face {
  font-family: "SF Pro Bold";
  src: url("../fonts/sf-pro/sf-pro-bold.OTF");
}

@font-face {
  font-family: "SF Pro Medium";
  src: url("../fonts/sf-pro/sf-pro-medium.OTF");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro";
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.gap {
  gap: 1rem;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}

.w-full {
  width: 100%;
}
.logo {
  width: 80%;
  display: block;
  margin: auto;
}

.left-sidebar {
  min-width: 275px;
  background-color: white;
  height: 100vh;
  overflow-y: scroll;
}
.sidebar {
  width: 100%;
}
.main {
  width: 100%;
  background: linear-gradient(-135deg, #cfd9f9, #ecf5f7);
  min-height: 100vh;
}
.right-sidebar {
  width: 375px;
  background-color: white;
  min-height: 100vh;
}

.menu-flex {
  height: 100vh;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.menu a.active,
.menu a:hover {
  background-color: #d9d9d9;
  color: #0b4470;
  border-right: 3px solid #0b4470;
  opacity: 1;
}
.menu {
  display: flex;
  width: 70%;
  margin-left: auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.menu a {
  display: flex;
  padding: 20px 40px 20px 10px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: black;
  border-radius: 10px 0 0 10px;
  width: 100%;
  font-family: "sf-pro-medium";
  border-right: 3px solid transparent;
  transition: 0.5s;
  opacity: 0.5;
}

.text-center {
  text-align: center;
}

.progress {
  padding-bottom: 35px;
  margin-top: 200px;
  padding-left: 35px;
  padding-right: 35px;
}

.progress-img {
  position: relative;
  top: -100px;
  margin-bottom: -100px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.progress-card {
  background-color: #f5f5fb;
  border-radius: 10px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.progress-card-title {
  color: #8da1b5;
  margin-bottom: 20px;
}
.progress-bar {
  background-color: #c7cadd;
  height: 5px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 5px;
}

.progress-bar .inner {
  width: 56%;
  height: 5px;
  background-color: #0b4470;
  border-radius: 10px;
}

.text-blue {
  color: #0b4470;
}
.fs-13 {
  font-size: 13px;
}
.bold {
  font-family: "SF Pro Bold";
}
.percentage {
  margin-bottom: 5px;
}
.medium {
  font-family: "SF Pro Medium";
}
